<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>项目后台管理系统</title>
  <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>
     <div class="container">
        <form action="/user/login" method="POST"">
            <label>
                <span>用户名：</span>
                <input type="text" placeholder="请输入用户名">
            </label>
            <label>
                <span>密码：</span>
                <input type="text" placeholder="请输入密码">
            </label>
            <input type="submit" value="登陆">
        </form>
     </div>
</body>

</html>